.item-card {
  margin: 10px;
  text-align: left;
}

.content {
  height: 250px !important;
}

h1 {
  font-size: xx-large;
  color: #3f51b5;
}

h2 {
  font-size: x-large;
  color: #555;
}

h4 {
  color: #555;
}

.purple-color {
  color: #3f51b5 !important;
}
