<mat-card class="item-card">
  <mat-card-content>
    <div class="content"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlexFill >
      <div fxFlex="60%">
        <h1>
          <i class="material-icons">
            location_on
          </i>
          {{ location.name | uppercase}}
        </h1>
        <h2>
          Temperature: <span class="purple-color">
            {{ location.temperatures[0].temperature }} C<sup>o</sup>
          </span>
        </h2>
        <h2>
          Humidity: <span class="purple-color">
            {{ location.temperatures[0].humidity }} %
          </span>
        </h2>
        <h4>
          On <span class="purple-color">
            {{ location.temperatures[0].createdDateUTC | date:'d/M/yyyy H:mm'}}
          </span>
        </h4>
      </div>
      <div fxFlex="40%">
        <app-thermometer-svg
          [temperature]="location.temperatures[0].temperature">
        </app-thermometer-svg>
      </div>
    </div>
  </mat-card-content>
</mat-card>
